{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Jason plugin for Craft CMS
 *
 * JasonField Field Settings
 *
 * @author    Chase Giunta
 * @copyright Copyright (c) 2020 Chase Giunta
 * @link      https://chasegiunta.com
 * @package   Jason
 * @since     1.0.0
 */
#}

<div id="{{ id }}">
    <div class="field">
        <div class="heading">
            <label id="readonly-label" for="readonly">Read Only</label>
        </div>
        <jason-switch id="readonly" name="readonly" :value="{{ field['readonly'] ? field['readonly'] : 0 }}" @toggled="readonly = $event"></jason-switch>
    </div>

    <div :class="readonly == true ? 'opacity-0 absolute pointer-events-none' : ''" class="field">
        <div class="heading">
            <label id="allowRawEditing-label" for="allowRawEditing">Allow Raw Editing</label>
        </div>
        <jason-switch 
            id="allowRawEditing"
            name="allowRawEditing"
            :value="{{ field['readonly'] == 'true' ? 'false' : field['allowRawEditing'] ? field['allowRawEditing'] : 'false' }}" 
            @toggled="allowRawEditing = $event">
        </jason-switch>
    </div>
</div>
